// ------ Base & Require ------
@text-color : fade(#000, 65%);
@font-size-base         : 12px;
@font-size-lg           : @font-size-base + 2px;
// Layout
@layout-header-background : #24292e;
@layout-header-height : 64px;
@layout-header-padding : 0 50px;
@layout-footer-background : #efefef;
@layout-footer-padding : 24px 50px;
